@charset "UTF-8";

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
  font-weight: 400;

}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf');
}

body {
  background-color: #f5f5f5 !important;  
}

/* --------------------------------------
# Header / Navigation
---------------------------------------*/

._navbar {
  background-color: #f5f5f5 !important;
  height: 100px;
}

.navbar-brand {
  color: #525252 !important;
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-link {
  margin-left: 20px;
  color: #525252 !important;
  font-family: 'Open Sans';
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.current-menu-item > a {
  border-bottom: 4px solid #f86c5e;  
}

.nav-link:hover {
  border-bottom: 4px solid #f86c5e;
}

/* --------------------------------------
# Stories
---------------------------------------*/

._article-date-container {
  width: 100px;
  height: 120px;
  background-color: #f86c5e;
  color: white !important;
  font-family: 'Open Sans';
  font-weight: 500;
  text-transform: uppercase;
  dispay: inline;
}

._article-date-link > a, ._article-date-link > a:visited {
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

._nopadding {
  padding: 0 !important;
  /*margin: 0 !important;*/
}

._article-container {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

._story-title {
  margin-bottom: 20px;
  text-align: center;
}

._story-title > a {
  text-decoration: none;
  color: #525252;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

._article-content {
  text-align: justify;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.understrap-read-more-link {
  float: right;
  border: none;
  border-radius: 0;
  background-color: #f86c5e;
  font-family: 'Open Sans';
  color: white;
  width: 300px;
  text-transform: uppercase;
}

/* --------------------------------------
# FAQ
---------------------------------------*/

._faq-container {}

._faq-container > h1 {
  width: 90%;
  margin: auto;
  font-family: 'Open Sans';
  font-size: 22px;
  color: #505050;
  text-transform: uppercase;  
}

._faq-container > h2 {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 300;
  color: #505050;
}

._faq-container > ol > li {
  width: 90%;
  margin: auto;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #505050;
}

._faq-container > ol > li > ol > li {
  font-family: 'Open Sans';
  font-weight: 100;
  color: #505050;
  list-style-type: none;
}

._faq-container > p > img {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --------------------------------------
# About
---------------------------------------*/

._about-img {}

._about-margin-separator {}

._about-h1 {
  font-family: 'Open Sans';
  font-size: 54px;
  font-weight: 800;
}

._about-text {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 24px;
}

._text-align-right {
  text-align: right;
}

/* --------------------------------------
# Single Motherhood
---------------------------------------*/

._motherhood-container {}

._motherhood-entry-container {
  width: 426px;
  display: inline-block;
}

._motherhood-img {
  width: 426px;
  border-bottom: 8px solid #f86c5e;
}

._motherhood-h1 {
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 700;
  color: #525252;
  text-align: center;
  text-transform: uppercase;
}

._motherhood-p {
  width: 95%;
  margin: auto;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 300;
  color: #525252;
  text-align: justify;
}

._motherhood-watch-link {
  margin-top: 20px;
  width: 100%;
  background-color: #f86c5e;
  text-align: center;
  padding: 5px;
}

._motherhood-watch-link > a {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

/*
  light 300
  regular 400
  semi-bold 600
  bold 700
  extra-bold 800
*/